{% extends 'base.html' %}

{% block content %}
<form type="get" action=".">
    <input type="text" name="q">
    <button type="submit">Search</button>
</form>

{% for question in questions %}
<h1>{{ question.question_text }}</h1>
<p>
    {{ question.pub_date }}
</p>
{% endfor %}
{% endblock %}
